.vs/ImageGallery/DesignTimeBuild/.dtbcache.v2
.vs/ImageGallery/FileContentIndex/be59ad81-31a3-45dd-9f58-74d08f66d10b.vsidx
.vs/ImageGallery/FileContentIndex/read.lock
.vs/ImageGallery/v17/.futdcache.v1
.vs/ImageGallery/v17/.suo
.vs/ProjectEvaluation/imagegallery.metadata.v2
.vs/ProjectEvaluation/imagegallery.projects.v2
.vs/